node_modules/**
node_modules
src.zip
.vscode/
package.json.rej
.umi/umi.ts
.umi/core/devScripts.ts
.umi/core/history.ts
.umi/core/plugin.ts
.umi/core/pluginConfig.d.ts
.umi/core/pluginRegister.ts
.umi/core/polyfill.ts
.umi/core/routes.ts
.umi/core/umiExports.ts

test/**
test
